{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/item/report/definition/pagesMetadata/1.1.0/schema.json",
  "pageOrder": [
{%- for p in pages %}
    "{{ p.name }}"{% if not loop.last %},{% endif %}
{%- endfor %}
  ],
  "activePageName": "{{ pages[0].name }}"
}
