{
  "$schema": "https://developer.microsoft.com/json-schemas/fabric/item/report/definition/page/1.0.0/schema.json",
  "name": "{{ page.name }}",
  "displayName": "{{ page.display_name }}",
  "displayOption": "FitToPage",
  "height": {{ page.height }},
  "width": {{ page.width }}{% if page.visual_interactions %},
  "visualInteractions": [
{%- for vi in page.visual_interactions %}
    {
      "source": "{{ vi.source }}",
      "target": "{{ vi.target }}",
      "type": "{{ vi.type }}"
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ]
{%- endif %}
}
