expression CsvPath = "{{ csv_path_m_literal }}" meta [IsParameterQuery=true, Type="Text", IsParameterQueryRequired=true]
	lineageTag: {{ lineage.expression_csv_path }}

	annotation PBI_ResultType = Text
